
#login_form{
	position: absolute;
    opacity: 0.9;
    background-color: #D3D3D3;
}

#forget_pass{
	position: absolute;
    opacity: 0.9;
    background-color: #D3D3D3;	
}

#sign_up{
	opacity: 0.9;
	background-color: #D3D3D3;
	width: 600px;	
	margin: 100px auto;
}

#flip_container{
	/*position: relative;*/
	margin: 100px auto;
    z-index: 1;
    perspective: 1000;
}

#flip_container, .front, .back {
	width: 300px;
}

/*
#flip_container:hover #fliper, #flip_container.hover #fliper {
	transform: rotateY(180deg);
}
*/
#flip_container:target #fliper {
  transform: rotateY(180deg);
}


#fliper {
	transition: 1.5s;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back{
	width: 300px;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
}


/*disable scroll*/
body, html{
	overflow-x: hidden; 
    overflow-y: auto;
}
body{
	background-image: url("../img/watch-movie.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;

}

#buttons{
	/*margin-left: 35px;*/
	margin-left: 15%;
}

#errors{
	text-align: center;
}